#Do it Algorithm

01-1 알고리즘이란?

세 정수의 최댓값 구하기

In [2]:
print('세 정수의 최댓값 구하기')
a = int(input('정수 a의 값을 입력하세요, : '))
b = int(input('정수 b의 값을 입력하세요, : '))
c = int(input('정수 c의 값을 입력하세요, : '))

maximum = a
if b > maximum:
    maximum = b
if c > maximum:
    maximum = c

print(f'최댓값은 {maximum}입니다.')

세 정수의 최댓값 구하기
정수 a의 값을 입력하세요, : 5
정수 b의 값을 입력하세요, : 17
정수 c의 값을 입력하세요, : 3
최댓값은 17입니다.

In [3]:
#이름을 입력받아 인사하기
print('이름을 입력하세요.: ', end = '')
name = input()
print(f'안녕하세요? {name} 님.')

이름을 입력하세요.: 신종우
안녕하세요? 신종우 님.

In [4]:
name = input('이름을 입력하세요.: ')
print(f'안녕하세요? {name}님.')

이름을 입력하세요.: 신종우
안녕하세요? 신종우님.

In [1]:
int('17')              # 10진수 문자열을 10진수 정수형으로 변환(기본)

17

In [5]:
int('0b110', 2)        # 2진수 문자열을 10진수 정수형으로 변환

6

In [6]:
int('0o75', 8)         # 8진수 문자열을 10진수 정수형으로 변환

61

In [7]:
int('13', 10)          # 10진수 문자열을 10진수 정수형으로 변환

13

In [8]:
int('0x3F', 16)        # 16진수 문자열을 10진수 정수형으로 변환

63

In [9]:
float('3.14')          # 문자열을 실수형으로 변환

3.14