In [1]:
# 학생 5명의 시험 점수를 입력받아 합계와 평균을 출력하기

print('학생 그룹 점수의 합계와 평균을 구합니다.')

score1 = int(input('1번 학생의 점수를 입력하세요.: '))
score2 = int(input('2번 학생의 점수를 입력하세요.: '))
score3 = int(input('3번 학생의 점수를 입력하세요.: '))
score4 = int(input('4번 학생의 점수를 입력하세요.: '))
score5 = int(input('5번 학생의 점수를 입력하세요.: '))

total = 0
total += score1
total += score2
total += score3
total += score4
total += score5

print(f'합계는 {total}점입니다.')
print(f'평균은 {total / 5}점입니다.')

학생 그룹 점수의 합계와 평균을 구합니다.
1번 학생의 점수를 입력하세요.: 80
2번 학생의 점수를 입력하세요.: 98
3번 학생의 점수를 입력하세요.: 60
4번 학생의 점수를 입력하세요.: 77
5번 학생의 점수를 입력하세요.: 89
합계는 404점입니다.
평균은 80.8점입니다.

In [2]:
list01 = []                    #[]빈 리스트
list02 = [1, 2, 3]             #[1, 2, 3]
list03 = ['A', 'B', 'C', ]     #['A', 'B', 'C'] 맨 마지막 원소에 쉼표를 써도 됨

In [3]:
list04 = list()               #[]빈 리스트
list05 = list('ABC')          #['A', 'B', 'C'] 문자열의 각 문자로부터 원소를 생성
list06 = list([1, 2, 3])      #[1, 2, 3] 리스트로부터 원소를 생성
list07 = list([1, 2, 3])      #[1, 2, 3] 튜플로부터 원소를 생성
list08 = list([1, 2, 3])      #[1, 2, 3] 집합으로부터 원소를 생성

In [4]:
list09 = list(range(7))       #[0, 1, 2, 3, 4, 5, 6]
list10 = list(range(3, 8))    #[3, 4, 5, 6, 7]
list11 = list(range(3, 13, 2))#[3, 5, 7, 9, 11]

In [5]:
list12 = [None] * 5           #[None, None, None, None, None]

In [ ]:
tuple01 = ()                  #()빈 튜플
tuple02 = 1,                  #(1,)
tuple03 = (1,)                #(1,)